.wrapper {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.header {
  align-items: center;
  border-bottom: 1px solid #cccccc;
  display: flex;
  height: 48px;
  justify-content: space-between;
  left: 0;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.sideBar {
  border-right: 1px solid #cccccc;
  bottom: 0;
  padding: 12px 0;
  left: 0;
  position: absolute;
  top: 48px;
  width: 240px;
}

.sideBar > a {
  display: block;
  padding: 8px 16px;
}

.sideBarLinkActive {
  background-color: #eee;
}

.sideBar > a:hover {
  background: #ddd;
}

.content {
  bottom: 0;
  left: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 48px;
}
